* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    background: #2B3E50;
    color: white;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}