.item-details {
    display: flex;
}

.left-block {
    flex-basis: 80%;
    margin-right: 20px;
}

#names-block {
    grid-area: names;
}

#languages-block {
    grid-area: languages;
}

#codes-block {
    grid-area: codes;
}

#georgraphy-block {
    grid-area: geography;
}

#image-block {
    grid-area: image;
}

.item-main-title {
    margin: 20px 0 5px;
}

.item-block {
    margin-top: 20px;
    min-width: 180px;
}

.item-heading {
    background: #5B6977;
    padding: 15px;
}

.item-info-row {
    padding: 15px;
    display: flex;
    background: #4E5D6C;
    border-bottom: 1px solid #5B6977;
}

.item-info-row:last-child {
    border-bottom: none;
}

.item-info-name {
    margin-right: 10%;
}

.item-info-value {
    margin-left: auto;
    text-align: right;
}

.item-image-block {
    margin: 20px auto 0;
}

.item-image {
    width: 100%;
}


@media (max-width: 1200px) {
    .item-details {
        flex-direction: column;
    }
    .left-block {
        margin-right: 0px;
    }
    .right-block {
        display: flex;
        flex-direction: column-reverse;
    }
    .item-main-title {
        text-align: center;
    }
    .item-image-block {
        width: 80%;
    }
}
