.item-details {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 40% 1fr;
    grid-template-rows: auto;  
    grid-template-areas: 
    "names image"
    "codes geography"
    "languages ."
}

#names-block {
    grid-area: names;
}

#languages-block {
    grid-area: languages;
}

#codes-block {
    grid-area: codes;
}

#georgraphy-block {
    grid-area: geography;
}

#image-block {
    grid-area: image;
}

.item-main-title {
    margin: 20px 0 5px;
}

.item-block {
    margin-top: 20px;
    min-width: 280px
}

.item-heading {
    background: #5B6977;
    padding: 15px;
}

.item-info-row {
    padding: 15px;
    display: flex;
    background: #4E5D6C;
}

.item-info-name {
    flex-basis: 55%;
}

.item-image-block {
    margin: 20px auto 0;
}

.item-image {
    width: 100%;
}


@media (max-width: 1200px) {
    .item-details {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;  
        grid-template-areas: 
        "names languages"
        "codes georgraphy"
        "image image";
    }
    .item-main-title {
        text-align: center;
    }
    .item-block {
        
    }
    .item-image-block {
        width: 80%;
    }
}

@media (max-width: 992px) {
    .item-details {
        
    }
    .item-block {
        
    }
    .item-image-block {
        width: 80%;
    }
}

@media (max-width: 768px) {
    .item-block {
        
    }
}


