.navbar-section {
    background: #4E5D6C;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-main , .navbar-text {
    color: white;
    text-decoration: none;
    font-size: 1.6rem;
}

.navbar-main {
    font-size: 1.6rem;
}

.navbar-text {
    font-size: 1.1rem;
}

.navbar-text:hover {
    color: rgba(255, 255, 255, 0.5);
}

@media (max-width: 576px) {
    .navbar {
        flex-direction: column;
    }
    .navbar-main, .navbar-text {
        text-align: center;
    }
    .navbar-main {
        margin-bottom: 10px;
    }
}