.search-bar-section {
    margin: 30px 0 10px
}

.search-bar {
    min-width: 100%;
    display: block;
    margin: 0 auto;
    padding: 10px;
}

.search-bar:focus {
    box-shadow: 0 0 5px lightblue;
    transition: box-shadow 0.4s;
}

.search-bar-title {
    margin-bottom: 10px;
    font-size: 2rem;
    font-weight: normal;
}

@media (max-width: 768px) {
    .search-bar {
        width: 220px;
    }
}

@media (max-width: 576px) {
    .search-bar-title {
        text-align: center;
        font-size: 1.7rem;
    }
}